@model ProdynaTest.Shared.ViewModels.InsertNewsItemViewModel
@{
    ViewData["Title"] = "Insert News Item";
}

<h1>@ViewData["Title"]</h1>
@using (Html.BeginForm("InsertNews", "Home"))
{
    <label>Name: </label><br/>
    @Html.TextBoxFor(m => m.Name);<br /><br />

    <label>Description: </label><br />
    @Html.TextBoxFor(m => m.Description);<br /><br />

    <label>Author: </label><br />
    @Html.ListBoxFor(m => m.Author, new SelectList (Model.Authors, "Value", "Text"));

    <label>Choose Category:</label><br />
    //@Html.DropDownListFor()<br /><br />
    <button type="submit">Save</button>
}