@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Create the new Author</p>
<input type="text" name="AuthorName"/>
<input type="button" text="Сачувај" name="submit"/>
